
*.wt
*.2021-12-06T13-52-00Z-00000
*.2021-12-06T13-52-18Z-00000
eCommerceDB/configsvr/cfg1/diagnostic.data/metrics.interim
eCommerceDB/configsvr/cfg1/journal/WiredTigerLog.0000000002
eCommerceDB/configsvr/cfg1/journal/WiredTigerPreplog.0000000001
eCommerceDB/configsvr/cfg1/journal/WiredTigerPreplog.0000000002
eCommerceDB/configsvr/cfg1/mongod.lock
eCommerceDB/configsvr/cfg1/mongod.log
eCommerceDB/configsvr/cfg1/mongod.log.2021-12-06T13-52-16
eCommerceDB/configsvr/cfg1/storage.bson
eCommerceDB/configsvr/cfg1/WiredTiger
eCommerceDB/configsvr/cfg1/WiredTiger.lock
eCommerceDB/configsvr/cfg1/WiredTiger.turtle
eCommerceDB/configsvr/cfg2/diagnostic.data/metrics.2021-12-06T13-55-41Z-00000
eCommerceDB/configsvr/cfg2/diagnostic.data/metrics.2021-12-06T13-55-51Z-00000
eCommerceDB/configsvr/cfg2/diagnostic.data/metrics.interim
eCommerceDB/configsvr/cfg2/journal/WiredTigerLog.0000000002
eCommerceDB/configsvr/cfg2/journal/WiredTigerPreplog.0000000001
eCommerceDB/configsvr/cfg2/journal/WiredTigerPreplog.0000000002
eCommerceDB/configsvr/cfg2/mongod.lock
eCommerceDB/configsvr/cfg2/mongod.log
eCommerceDB/configsvr/cfg2/mongod.log.2021-12-06T13-55-48
eCommerceDB/configsvr/cfg2/storage.bson
eCommerceDB/configsvr/cfg2/WiredTiger
eCommerceDB/configsvr/cfg2/WiredTiger.lock
eCommerceDB/configsvr/cfg2/WiredTiger.turtle
eCommerceDB/configsvr/cfg3/diagnostic.data/metrics.2021-12-06T13-56-32Z-00000
eCommerceDB/configsvr/cfg3/diagnostic.data/metrics.2021-12-06T13-56-42Z-00000
eCommerceDB/configsvr/cfg3/diagnostic.data/metrics.interim
eCommerceDB/configsvr/cfg3/journal/WiredTigerLog.0000000002
eCommerceDB/configsvr/cfg3/journal/WiredTigerPreplog.0000000001
eCommerceDB/configsvr/cfg3/journal/WiredTigerPreplog.0000000002
eCommerceDB/configsvr/cfg3/mongod.lock
eCommerceDB/configsvr/cfg3/mongod.log
eCommerceDB/configsvr/cfg3/mongod.log.2021-12-06T13-56-40
eCommerceDB/configsvr/cfg3/storage.bson
eCommerceDB/configsvr/cfg3/WiredTiger
eCommerceDB/configsvr/cfg3/WiredTiger.lock
eCommerceDB/configsvr/cfg3/WiredTiger.turtle
eCommerceDB/router/mogod.diagnostic.data/metrics.2021-12-06T14-23-06Z-00000
eCommerceDB/router/mogod.diagnostic.data/metrics.2021-12-06T14-26-13Z-00000
eCommerceDB/router/mogod.diagnostic.data/metrics.interim
eCommerceDB/router/mogod.log
eCommerceDB/router/mogod.log.2021-12-06T14-25-27
eCommerceDB/shards/shard1/shardsvr1/diagnostic.data/metrics.2021-12-06T14-03-06Z-00000
eCommerceDB/shards/shard1/shardsvr1/diagnostic.data/metrics.2021-12-06T14-03-35Z-00000
eCommerceDB/shards/shard1/shardsvr1/diagnostic.data/metrics.2021-12-06T14-06-08Z-00000
eCommerceDB/shards/shard1/shardsvr1/diagnostic.data/metrics.interim
eCommerceDB/shards/shard1/shardsvr1/journal/WiredTigerLog.0000000003
eCommerceDB/shards/shard1/shardsvr1/journal/WiredTigerPreplog.0000000001
eCommerceDB/shards/shard1/shardsvr1/journal/WiredTigerPreplog.0000000002
eCommerceDB/shards/shard1/shardsvr1/mongod.lock
eCommerceDB/shards/shard1/shardsvr1/mongod.log
eCommerceDB/shards/shard1/shardsvr1/mongod.log.2021-12-06T14-03-32
eCommerceDB/shards/shard1/shardsvr1/mongod.log.2021-12-06T14-06-06
eCommerceDB/shards/shard1/shardsvr1/storage.bson
eCommerceDB/shards/shard1/shardsvr1/WiredTiger
eCommerceDB/shards/shard1/shardsvr1/WiredTiger.lock
eCommerceDB/shards/shard1/shardsvr1/WiredTiger.turtle
eCommerceDB/shards/shard1/shardsvr2/diagnostic.data/metrics.2021-12-06T14-06-42Z-00000
eCommerceDB/shards/shard1/shardsvr2/diagnostic.data/metrics.2021-12-06T14-07-01Z-00000
eCommerceDB/shards/shard1/shardsvr2/diagnostic.data/metrics.interim
eCommerceDB/shards/shard1/shardsvr2/journal/WiredTigerLog.0000000003
eCommerceDB/shards/shard1/shardsvr2/journal/WiredTigerPreplog.0000000001
eCommerceDB/shards/shard1/shardsvr2/journal/WiredTigerPreplog.0000000002
eCommerceDB/shards/shard1/shardsvr2/mongod.lock
eCommerceDB/shards/shard1/shardsvr2/mongod.log
eCommerceDB/shards/shard1/shardsvr2/mongod.log.2021-12-06T14-06-40
eCommerceDB/shards/shard1/shardsvr2/mongod.log.2021-12-06T14-06-59
eCommerceDB/shards/shard1/shardsvr2/storage.bson
eCommerceDB/shards/shard1/shardsvr2/WiredTiger
eCommerceDB/shards/shard1/shardsvr2/WiredTiger.lock
eCommerceDB/shards/shard1/shardsvr2/WiredTiger.turtle
eCommerceDB/shards/shard1/shardsvr3/diagnostic.data/metrics.2021-12-06T14-07-18Z-00000
eCommerceDB/shards/shard1/shardsvr3/diagnostic.data/metrics.2021-12-06T14-07-25Z-00000
eCommerceDB/shards/shard1/shardsvr3/diagnostic.data/metrics.interim
eCommerceDB/shards/shard1/shardsvr3/journal/WiredTigerLog.0000000002
eCommerceDB/shards/shard1/shardsvr3/journal/WiredTigerPreplog.0000000001
eCommerceDB/shards/shard1/shardsvr3/journal/WiredTigerPreplog.0000000002
eCommerceDB/shards/shard1/shardsvr3/mongod.lock
eCommerceDB/shards/shard1/shardsvr3/mongod.log
eCommerceDB/shards/shard1/shardsvr3/mongod.log.2021-12-06T14-07-22
eCommerceDB/shards/shard1/shardsvr3/storage.bson
eCommerceDB/shards/shard1/shardsvr3/WiredTiger
eCommerceDB/shards/shard1/shardsvr3/WiredTiger.lock
eCommerceDB/shards/shard1/shardsvr3/WiredTiger.turtle
eCommerceDB/shards/shard2/shardsvr4/diagnostic.data/metrics.2021-12-06T14-09-37Z-00000
eCommerceDB/shards/shard2/shardsvr4/diagnostic.data/metrics.2021-12-06T14-09-45Z-00000
eCommerceDB/shards/shard2/shardsvr4/diagnostic.data/metrics.2021-12-06T14-10-14Z-00000
eCommerceDB/shards/shard2/shardsvr4/diagnostic.data/metrics.interim
eCommerceDB/shards/shard2/shardsvr4/journal/WiredTigerLog.0000000003
eCommerceDB/shards/shard2/shardsvr4/journal/WiredTigerPreplog.0000000001
eCommerceDB/shards/shard2/shardsvr4/journal/WiredTigerPreplog.0000000002
eCommerceDB/shards/shard2/shardsvr4/mongod.lock
eCommerceDB/shards/shard2/shardsvr4/mongod.log
eCommerceDB/shards/shard2/shardsvr4/mongod.log.2021-12-06T14-09-42
eCommerceDB/shards/shard2/shardsvr4/mongod.log.2021-12-06T14-10-12
eCommerceDB/shards/shard2/shardsvr4/storage.bson
eCommerceDB/shards/shard2/shardsvr4/WiredTiger
eCommerceDB/shards/shard2/shardsvr4/WiredTiger.lock
eCommerceDB/shards/shard2/shardsvr4/WiredTiger.turtle
eCommerceDB/shards/shard2/shardsvr5/diagnostic.data/metrics.2021-12-06T14-10-40Z-00000
eCommerceDB/shards/shard2/shardsvr5/diagnostic.data/metrics.2021-12-06T14-10-43Z-00000
eCommerceDB/shards/shard2/shardsvr5/diagnostic.data/metrics.interim
eCommerceDB/shards/shard2/shardsvr5/journal/WiredTigerLog.0000000002
eCommerceDB/shards/shard2/shardsvr5/journal/WiredTigerPreplog.0000000001
eCommerceDB/shards/shard2/shardsvr5/journal/WiredTigerPreplog.0000000002
eCommerceDB/shards/shard2/shardsvr5/mongod.lock
eCommerceDB/shards/shard2/shardsvr5/mongod.log
eCommerceDB/shards/shard2/shardsvr5/mongod.log.2021-12-06T14-10-41
eCommerceDB/shards/shard2/shardsvr5/storage.bson
eCommerceDB/shards/shard2/shardsvr5/WiredTiger
eCommerceDB/shards/shard2/shardsvr5/WiredTiger.lock
eCommerceDB/shards/shard2/shardsvr5/WiredTiger.turtle
eCommerceDB/shards/shard2/shardsvr6/diagnostic.data/metrics.2021-12-06T14-11-16Z-00000
eCommerceDB/shards/shard2/shardsvr6/diagnostic.data/metrics.2021-12-06T14-11-19Z-00000
eCommerceDB/shards/shard2/shardsvr6/diagnostic.data/metrics.interim
eCommerceDB/shards/shard2/shardsvr6/journal/WiredTigerLog.0000000002
eCommerceDB/shards/shard2/shardsvr6/journal/WiredTigerPreplog.0000000001
eCommerceDB/shards/shard2/shardsvr6/journal/WiredTigerPreplog.0000000002
eCommerceDB/shards/shard2/shardsvr6/mongod.lock
eCommerceDB/shards/shard2/shardsvr6/mongod.log
eCommerceDB/shards/shard2/shardsvr6/mongod.log.2021-12-06T14-11-17
eCommerceDB/shards/shard2/shardsvr6/storage.bson
eCommerceDB/shards/shard2/shardsvr6/WiredTiger
eCommerceDB/shards/shard2/shardsvr6/WiredTiger.lock
eCommerceDB/shards/shard2/shardsvr6/WiredTiger.turtle
*.log
*.pot
*.pyc
__pycache__
media
*.bak 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
.DS_Store
node_modules/
/dist/
.env.local
.env.*.local
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.2021-12-07T12-07-52Z-00000
*.2021-12-07T12-08-18Z-00000
eCommerceDB/configsvr/cfg3/diagnostic.data/metrics.2021-12-07T12-08-42Z-00000
eCommerceDB/router/mongod.diagnostic.data/metrics.2021-12-07T12-38-25Z-00000
eCommerceDB/router/mongod.diagnostic.data/metrics.interim
eCommerceDB/shards/shard1/shardsvr1/diagnostic.data/metrics.2021-12-07T12-28-51Z-00000
eCommerceDB/shards/shard1/shardsvr1/journal/WiredTigerLog.0000000002
eCommerceDB/shards/shard1/shardsvr2/diagnostic.data/metrics.2021-12-07T12-31-44Z-00000
eCommerceDB/shards/shard1/shardsvr3/diagnostic.data/metrics.2021-12-07T12-19-01Z-00000
eCommerceDB/shards/shard1/shardsvr3/journal/WiredTigerLog.0000000001
eCommerceDB/shards/shard2/shardsvr4/diagnostic.data/metrics.2021-12-07T12-32-47Z-00000
eCommerceDB/shards/shard2/shardsvr4/journal/WiredTigerLog.0000000001
eCommerceDB/shards/shard2/shardsvr5/diagnostic.data/metrics.2021-12-07T12-33-38Z-00000
eCommerceDB/shards/shard2/shardsvr5/journal/WiredTigerLog.0000000001
eCommerceDB/shards/shard2/shardsvr6/diagnostic.data/metrics.2021-12-07T12-33-53Z-00000
eCommerceDB/shards/shard2/shardsvr6/journal/WiredTigerLog.0000000001
